/*  
    @media screen and (max-width: 768px) {}
    @media screen and (min-width:769px) and (max-width:991px) {}
    @media screen and (min-width: 992px) {}
*/

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    display: inline-block;
}

/* COMMON */

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px 0;
    /* test */
    background-color: antiquewhite;
    text-align: center;
}

/* HEADER */

.searchbar .text-input {
    padding: 10px 20px;
    min-width: 300px;
    border-radius: 10px;
    border-width: 1px;
    margin-right: 20px;
}

.searchbar .btn {
    padding: 10px 20px;
    border-radius: 10px;
    border-width: 1px;
    cursor: pointer;
}

/* MAIN */

.languages img{
    width: 30px;
    height: auto;
}