/*  
    @media screen and (max-width: 768px) {}
    @media screen and (min-width:769px) and (max-width:991px) {}
    @media screen and (min-width: 992px) {}
*/

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #ffffff  ;
}

li {
    list-style-type: none;
    display: inline-block;
}

/* COMMON */

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.wrapper {
    height: 100vh;
    min-width: 1000px;
}


.container {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 20px;
    flex-direction: column;
    overflow: hidden;
}
.container h2{
    font-size: 50px;
    color: #032541;
}

.display-flex {
    display: flex;
}

/* HEADER */

header {
    height: 80px;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #032541;
    justify-content: space-around;
}

header li{
    padding-left: 25px;
}


.logo img {
    width: 175px;
    height: auto;
}

/* MAIN */

/* Preview */

.preview{
    background-image: url(../img/background.jpg);
    height: 550px;
    background-size: cover;
    position: relative;
    color: white;
    text-align: right;
    color: #032541;
}

.preview h2{
    padding-left: 66%;
    line-height: 1.9;
}

.container-preview{
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

.searchbar{
    padding: 80px 0;
}

.searchbar .text-input {
    padding: 9px;
    font-size: 19px;
    border-width: 0px;
    border-color: #877e7e;
    background-color: #f7f3f3;
    color: #d3a3a3;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 0px 0px 12px rgba(191, 150, 150, .77);
    text-shadow: -50px 0px 0px rgba(14, 11, 11, .0);
}

.searchbar .btn {

    box-shadow: inset 0px 0px 13px -35px #ffffff;
    background: linear-gradient(to bottom, #ebebeb 5%, #9cd6af 100%);
    background-color: #ebebeb;
    border-radius: 15px;
    border: 1px solid #95cca9;
    display: inline-block;
    cursor: pointer;
    color: #a894a8;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 24px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #ffffff;
    margin-left: 25px;
}

.searchbar .btn:hover {
    background: linear-gradient(to bottom, #9cd6af 5%, #ebebeb 100%);
    background-color: #9cd6af;
}

.searchbar .btn:active {
    position: relative;
    top: 1px;
}

.vue-if-film,
.vue-if-telefilm {
    padding: 20px;
    flex-wrap: wrap;
    text-align: center;
}


.film,
.telefilm {
    height: 250px;
    padding: 15px;
    width: calc(100% / 5);
    position: relative;
}

.film-container,
.telefilm-container {
    width: 150px;
    height: auto;
    position: absolute;
    text-align: left;
    padding: 10px;
    font-size: 12px;
    line-height: 1.9;
    display: none;
}

.poster {
    width: 150px;
    height: 100%;
    position: absolute;
    
}


.languages img {
    width: 30px;
    height: auto;
}

.poster img {
    width: 150px;
    height: auto;
    border-radius: 25px;
}

.none {
    display: none;
}

.block {
    display: block;
}