<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Boolflix</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Link FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />

    <!-- Link Roboto Font Google -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Script ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

    <!-- Script Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>

<body>

    <!-- Vue Container -->
    <div id="root">

        <!-- Container -->
        <div class="container">

            <!-- HEADER -->
            <header>

                <!-- Searchbar -->
                <div class="searchbar">

                    <input class="text-input" placeholder="Scrivi il film da ricercare" type="text"
                        v-model="pushText" v-on:keyup.enter="callApi()">

                    <button class="btn" v-on:click="callApi()">Ricerca</button>

                </div>
                <!-- end Searchbar -->

                <!-- TEST -->
                <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>

            </header>
            <!-- end HEADER -->

            <!-- MAIN -->
            <main>

                <!-- v-if Film view -->
                <div class="film" v-if="arrayFilms.length > 0">
                    <h2>FILM</h2>

                    <!-- Single Film -->
                    <div class="film" v-for="film in arrayFilms">

                        <!-- Poster -->
                        <div class="poster">
                            <img :src="'https://image.tmdb.org/t/p/w342'+ film.poster_path" alt="">
                        </div>
                        <!-- end Poster -->

                        <!-- Title -->
                        <div class="title">
                            Titolo: {{film.title}}
                        </div>
                        <!-- end Title -->

                        <!-- Original Title -->
                        <div class="original-title">
                            Titolo Originale: {{film.original_title}}
                        </div>
                        <!-- end Original Title -->

                        <!-- Languages -->
                        <div class="languages">
                            Lingua: <img :src="'img/' + imageLanguage(film.original_language)" alt="">
                            <!-- {{imageLanguage()}} -->
                        </div>
                        <!-- Languages -->

                        <!-- Vote -->
                        <div class="vote">

                            <span v-html="voteStar(film.vote_average)"></span>

                        </div>
                        <!-- Vote -->

                    </div>
                    <!-- end Single Film -->

                </div>
                <!-- end v-if Film view -->

                <!-- v-if Telefilm view -->
                <div class="film" v-if="arrayTelefilms.length > 0">

                    <h2>TELEFILM</h2>
                    <!-- Single Film -->
                    <div class="film" v-for="telefilm in arrayTelefilms">

                        <!-- Poster -->
                        <div class="poster">
                            <img :src="'https://image.tmdb.org/t/p/w342'+ telefilm.poster_path" alt="">
                        </div>
                        <!-- end Poster -->

                        <!-- Title -->
                        <div class="title">
                            Titolo: {{telefilm.name}}
                        </div>
                        <!-- end Title -->

                        <!-- Original Title -->
                        <div class="original-title">
                            Titolo Originale: {{telefilm.original_name}}
                        </div>
                        <!-- end Original Title -->

                        <!-- Languages -->
                        <div class="languages">
                            Lingua: <img :src="'img/' + imageLanguage(telefilm.original_language)" alt="">
                            <!-- {{imageLanguage()}} -->
                        </div>
                        <!-- Languages -->

                        <!-- Vote -->
                        <div class="vote">
                            Voto: {{telefilm.vote_average}}
                        </div>
                        <!-- Vote -->

                    </div>
                    <!-- end Single Film -->

                </div>
                <!-- end v-if Telefilm view -->

            </main>
            <!-- MAIN -->

        </div>
        <!-- End Container -->


    </div>
    <!-- end Vue Container -->


    <!-- Script javascript -->
    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>