<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Boolflix</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Link FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />

    <!-- Link Roboto Font Google -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Script ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

    <!-- Script Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>

<body>

    <!-- Vue Container -->
    <div id="root">

        <div class="wrapper">

            <!-- HEADER -->
            <header class="display-flex">

                <!-- logo -->
                <div class="logo">
                    <img src="img/logo.png" alt="Logo Boolflix">
                </div>
                <!-- end Logo -->

                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#">Movies</a></li>
                        <li><a href="#">Tv Show</a></li>
                        <li><a href="#">People</a></li>
                        <li><a href="#">More</a></li>
                    </ul>
                </nav>
                <!-- end Nav -->

            </header>
            <!-- end HEADER -->

            <!-- MAIN -->
            <main>

                <!-- Preview -->
                <div class="preview">

                    <!-- Container preview -->
                    <div class="container-preview">

                        <h1>Welcome</h1>

                        <h2>Esplora il sito per ricercare migliaia di titoli tra film e serie tv</h2>

                        <!-- Searchbar -->
                        <div class="searchbar">

                            <input class="text-input" placeholder="Scrivi il film da ricercare" type="text"
                                v-model="pushText" v-on:keyup.enter="callApi()">

                            <button class="btn" v-on:click="callApi()"><i class="fas fa-search"></i></button>

                        </div>
                        <!-- end Searchbar -->

                    </div>
                    <!-- Container preview -->

                </div>
                <!-- end Preview -->

                <!-- Container -->
                <div class="container display-flex">

                    <h2 v-if="arrayFilms.length > 0">Film</h2>

                    <!-- FILM -->
                    <!-- v-if Film view -->
                    <div class="vue-if-film display-flex"
                        v-if="arrayFilms.length > 0">

                        <!-- Single Film -->
                        <!-- Attenzione cambiare nome array con copia\incolla -->
                        <div class="film" v-for="film in arrayFilms">

                            <!-- Poster -->
                            <!-- TEST HERE -->
                            <div class="poster"
                                :class="{none : film.id == filmId}"
                                v-on:mouseenter=" mouseEnter(film.id)"
                                v-on:mouseleave="mouseLeave">
                                <img
                                    :class="{'img-null' : film.poster_path == null}"
                                    :src="posterImage(film.poster_path)"
                                    :alt="'Poster of ' + film.title ">
                            </div>
                            <!-- end Poster -->

                            <!-- Film Text Container -->
                            <!-- Attenzione se copio e incollo nome attributi -->
                            <div class="film-container"
                                v-on:mouseenter=" mouseEnter(film.id)"
                                v-on:mouseleave="mouseLeave"
                                :class="{block : film.id == filmId}">

                                <!-- Film Description -->
                                <div class="film-description">

                                    <!-- Title -->
                                    <div class="title">
                                        <span>Titolo:</span> {{film.title}}
                                    </div>
                                    <!-- end Title -->

                                    <!-- Original Title -->
                                    <div class="original-title">
                                        <span>Titolo Originale:</span> {{film.original_title}}
                                    </div>
                                    <!-- end Original Title -->

                                    <!-- Languages -->
                                    <div class="languages">
                                        <span>Lingua:</span> <img
                                            :src="'img/'+ imageLanguage(film.original_language) + '.svg'"
                                            :alt="'Flag icon of ' + film.original_language">
                                    </div>
                                    <!-- Languages -->

                                    <!-- Vote -->
                                    <div class="vote">
                                        <span>Voto:</span>
                                        <span v-for="star in 5"
                                            v-if="star <= voteStar(film.vote_average)">
                                            <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
                                        </span>
                                        <span v-else="">
                                            <i class="fa fa-star" aria-hidden="true" style="color: grey;"></i>
                                        </span>
                                    </div>
                                    <!-- Vote -->

                                    <!-- Overview -->
                                    <div class="overview"
                                        v-if="film.overview != ''">
                                        <span>Overview:</span> {{filmOverview(film.overview)}}
                                    </div>
                                    <!-- Overview -->

                                    <!-- More Info -->
                                    <div class="more-info">

                                        <!-- Click info -->
                                        <span
                                            v-on:mouseenter=" mouseEnter(film.id)"
                                            v-on:click="infoCast(film.id), genres(film.id)">
                                            More info...click me
                                        </span>
                                        <!-- end Click info -->

                                        <!-- Box Info -->
                                        <div class="box-info"
                                            v-if="arrayCast.length > 0 && film.id == filmId"
                                            v-on:mouseleave="mouseLeave">

                                            <!-- Actor -->
                                            <h3>Attori</h3>
                                            <div class="cast-container"
                                                v-for="(cast, index) in arrayCast">
                                                <div v-if="index <= 4">{{cast.name}}</div>
                                            </div>
                                            <!-- end Actor -->

                                            <!-- Genre -->
                                            <h3>Genere</h3>
                                            <div class="genres"
                                                v-for="(genre, index) in arrayGendersId">
                                                <span><i class="fas fa-circle"></i> </span> {{genre.name}}
                                            </div>
                                            <!-- end Genre -->

                                        </div>
                                        <!-- end Box Info -->

                                    </div>
                                    <!-- end More Info -->

                                </div>
                                <!-- end Film Description -->

                            </div>
                            <!-- End Film Text container -->

                        </div>
                        <!-- end Single Film -->

                    </div>
                    <!-- end v-if Film view -->
                    <!-- end FILM -->

                    <h2 v-if="arrayTelefilms.length > 0">Telefilm</h2>

                    <!-- TELEFILM -->
                    <!-- v-if Film view -->
                    <div class="vue-if-film display-flex"
                        v-if="arrayTelefilms.length > 0">

                        <!-- Single Film -->
                        <!-- Attenzione cambiare nome array con copia\incolla -->
                        <div class="film" v-for="film in arrayTelefilms">

                            <!-- Poster -->
                            <div class="poster"
                                :class="{none : film.id == filmId}"
                                v-on:mouseenter=" mouseEnter(film.id)"
                                v-on:mouseleave="mouseLeave">
                                <img
                                    :class="{'img-null' : film.poster_path == null}"
                                    :src="posterImage(film.poster_path)"
                                    :alt="'Poster of ' + film.title ">
                            </div>
                            <!-- end Poster -->

                            <!-- Film Text Container -->
                            <div class="film-container"
                                v-on:mouseenter=" mouseEnter(film.id)"
                                v-on:mouseleave="mouseLeave"
                                :class="{block : film.id == filmId}">

                                <!-- Film Description -->
                                <div class="film-description">

                                    <!-- Title -->
                                    <!-- Attenzione se copio e incollo nome attributi -->
                                    <div class="title">
                                        <span>Titolo:</span> {{film.name}}
                                    </div>
                                    <!-- end Title -->

                                    <!-- Original Title -->
                                    <div class="original-title">
                                        <span>Titolo Originale:</span> {{film.original_name}}
                                    </div>
                                    <!-- end Original Title -->

                                    <!-- Languages -->
                                    <div class="languages">
                                        <span>Lingua:</span> <img
                                            :src="'img/'+ imageLanguage(film.original_language) + '.svg'"
                                            :alt="'Flag icon of ' + film.original_language">
                                    </div>
                                    <!-- Languages -->

                                    <!-- Vote -->
                                    <div class="vote">
                                        <span>Voto:</span>
                                        <span v-for="star in 5"
                                            v-if="star <= voteStar(film.vote_average)">
                                            <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
                                        </span>
                                        <span v-else="">
                                            <i class="fa fa-star" aria-hidden="true" style="color: grey;"></i>
                                        </span>
                                    </div>
                                    <!-- Vote -->

                                    <!-- Overview -->
                                    <div class="overview"
                                        v-if="film.overview != ''">
                                        <span>Overview:</span> {{filmOverview(film.overview)}}
                                    </div>
                                    <!-- Overview -->

                                    <!-- More Info -->
                                    <div class="more-info">

                                        <!-- Click info -->
                                        <span
                                            v-on:mouseenter=" mouseEnter(film.id)"
                                            v-on:click="infoCast(film.id), genres(film.id)">
                                            More info...click me
                                        </span>
                                        <!-- end Click info -->

                                        <!-- Box Info -->
                                        <div class="box-info"
                                            v-if="arrayCast.length > 0 && film.id == filmId"
                                            v-on:mouseleave="mouseLeave">

                                            <!-- Actor -->
                                            <h3>Attori</h3>
                                            <div class="cast-container"
                                                v-for="(cast, index) in arrayCast">
                                                <div v-if="index <= 4">{{cast.name}}</div>
                                            </div>
                                            <!-- end Actor -->

                                            <!-- Genre -->
                                            <h3>Genere</h3>
                                            <div class="genres"
                                                v-for="(genre, index) in arrayGendersId">
                                                <span><i class="fas fa-circle"></i> </span> {{genre.name}}
                                            </div>
                                            <!-- end Genre -->

                                        </div>
                                        <!-- end Box Info -->

                                    </div>
                                    <!-- end More Info -->

                                </div>
                                <!-- end Film Description -->

                            </div>
                            <!-- End Film Text container -->

                        </div>
                        <!-- end Single Film -->

                    </div>
                    <!-- end v-if Film view -->
                    <!-- end TELEFILM -->

                </div>
                <!-- End Container -->

            </main>
            <!-- MAIN -->



        </div>

    </div>
    <!-- end Vue Container -->


    <!-- Script javascript -->
    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>